.searcher {
  label {
    color: white;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    border: 1px solid white;
    padding: 8px 4px;
    width: 100%;
    border-radius: 8px;
    outline: none;
  }
}
